@import 'bulma/bulma';
footer p {
  font-size: 1.3rem;
}

footer p span {
  font-size: 1.5rem;
}

form {
  margin-top: 2rem;
  min-width: 235px;
  text-align: center;
}

nav ul li ul li a {
  display: inline;
}

.content ul {
  list-style-type: none;
  background-color: #00d1b2;
}

.content ul ul {
  list-style-type: none;
}

.content ul li {
  color: white;
}